*{
    margin: 0px;
    font-family: 'Futura W01', helvetica, san-serif;
    line-height: 1;
    color: rgba(12, 12, 10, 0.8);
}
/* Header! */
.footer, .header-main{
    background-color: #03A9F4;

}
.header-main {
    height: 50vh;
    margin-bottom: px;
    display: grid;

    grid-template-rows: 0.1fr 1fr;
    
}

.header-main .nav-header{
    display: flex;
    justify-content: flex-end;
}
.header-main .nav-header a{
    margin-right: 1rem;
    
}

.header-main .title {
    /* padding: 4rem; */
    
    margin-top: 5rem;
    grid-row: 2 / span 6;
    
}



/* Main */
/* abaout */
.abaout {
    background-color:white;
    margin-top: 0px;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    /* padding: 10rem; */
}

.abaout p {
    margin: 4rem;
    align-self: center;
}


/* work */
.works {
    background-color: #2196F3;
    /* padding: 0.5rem; */
    padding-bottom: 4rem;
    /* margin: 10px; */
    /* height: 60vh;     */
}

.works .work-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-gap: 0.1rem; */
    
}
.works .work{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 200px;
    margin-bottom: .5rem;
    
    background-color: white;
    border: 1px solid rgba(0,0,0, 0.5);
   
}

/* contact */
.contact {
    background-color: #3F51B5;
    height: 200px;
    padding: 1rem;
    
}
/* message */

.message{
    /* height: 50vh; */
    padding: 0.5rem;
}


.footer {
    height: 4rem;
    margin-bottom: 0px;
    
}


.title{
    text-align: center; 
    align-items: center;
    padding: 2rem;
}

.form-message {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    
}

input{
    outline: 0;
    border: 1px solid #4DBA7A;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding: 0.5em;

}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
    color: black;
}
a:hover{
    color: #9799A6;
    
}